%footer
  .f-content
    %h2
      0WNERS
      %i.sprite-2x.logo
    %nav
      %ul.f-navi
        %li
          %a{:href => "#"} お問い合わせ
        %li
          %a{:href => "#"} 利用規約
        %li
          %a{:href => "#"} よくある質問
        %li
          %a{:href => "#"} プライバシーポリシー
        %li
          %a{:href => "#"} 運営会社
        %li
          %a{:href => "#"} 特定商取引法に関する表示
    %p.copy COPYRIGHT 2017 0WNERS
    %ul.f-sns-area
      %li.hover-showcase
      %a{:href => "#"}
      %i{class: "fa fa-facebook-square"}
      %a{:href => "https://twitter.com/OWNERS1201"}
      %i{class: "fa fa-twitter-square"}
