#product-data {
  background: #f1eee8;
}

.layout-bpx {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.layout-bpx:before {
  content: " ";
  display: table;
}

.left-box {
  width: 740px;
  display: table;
  float: left;

  dl {
    display: table-cell;
    border-right: 1px solid #d2cec7;
    padding: 10px 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;

    dt {
      text-align: center;
      color: #2d1d09;
      font-weight: bold;
    }

    dd {
      text-align: center;
      font-family: sans-serif;
      font-weight: 700;

      span {
        font-size: 1.5rem;
        margin: 0 4px;
      }
    }
  }
}

.brown {
  background: #2d1d09;
  height: 78px;
  width: 110px;
  position: relative;
  vertical-align: top;
  padding: 10px 0;
  color: #fff;
}

.clone {
  padding-top: 18px;
  font-size: 1.5rem;
  color: white;
}

.nomal {
  font-family: sans-serif;
}

.order-box {
  display: table-cell;
}

.btn-green {
  background: #427833;
  border-radius: 5px;
  display: block;
  float: right;
  line-height: 80px;
  height: 80px;
  width: 300px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.layout-bpx:after {
  clear: both;
  display: table;
  content: " ";
}

#like-btn {
  color: #8899a6;
  font-size: 30px;
  margin-left: 130px;
  margin-top: 20px;
}

#like-btn-unlike {
  color: #ff2581;
  font-size: 30px;
  margin-left: 130px;
  margin-top: 20px;
}

.favorite-btn {
  text-align: center;
}
