#article-data
  .layout-bpx
    .left-box
      .post-date
        %p.year 2017
        %p.day 8/26
      %h1 オーナーの皆様、第二期もよろしくお願いします。
    %a.btn-green{:href => "/"} お申込み

#article-content
  .contents
    初めまして、丘の上ファーム原農園の原昌紀です。
    %br
    %br
    OWNERSでは昨年に引き続き、今年も信州りんごのプランの募集が公開されました。
    %br
    %br
    少し前に公開された、シードルのプランも大好評でとても嬉しかったです。
    %br
    %br
    今回のプランもうすでにたくさんの方の申し込みがあり、リピーターの方もいらっしゃいました。
    %br
    皆様の多くの期待に応えて行きたいと思います。
    %br
    %br
    今年の林檎は春先の天候に恵まれ、今のところ順調な生育であります。
    %br
    %br
    りんごの様子もアップしていきますので楽しみにして下さい！
    %br
    %br
    %img{:alt => "", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ArticleContent/p_24/71/20170826/20170826182501_写真 2017-08-26 18 09 29.jpg"}/
    %br
    %br
    ちなみに今のサンふじの状態です。
    %br
    これからどんどん大きくなっていきます。
    %br
    %br
    また信州ならではの品種も紹介したいと思います。
    %br
    %br
    %img{:alt => "", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ArticleContent/p_24/71/20170826/20170826183151_DSC_0042.JPG"}/
    %br
    %br
    第二期となる丘の上ファーム原農園のオーナープラン、
    %br
    %br
    どうぞよろしくお願いします。
    %br

    %a.back-item-detail{:href => "/"}
      %i.sprite-2x.icon-arrow-b-m
      プランページを見る

    %section.article-list
      %h4 記事一覧
      .annal
        %h5 最新の記事
        .article_year_content
          %article.product
            .product-txt
              %ul
                %li
                  %i.thum
                    %img{:alt => "", :height => "26", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/Partner/24/profile_image/w26h26_haraprofile.png", :ssl => "1", :width => "26"}/
                  丘の上ファーム原農園
                %li 2017/08/26
              %h3
                %a{:href => "/"} オーナーの皆様、第二期もよろしくお願いします！






















