%header.header-mypage
  .bg-white
    %h1
      OWNERS
      %a{:href => "/"}
    %nav
      %ul.user-navi
        - if @current_user
          %li
            =@current_user.name
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-q-b
            OWNERSについて
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-book-b
            使い方
        %li
          = link_to("編集", "/users/#{@user.id}/edit")
        %li
          = link_to("ログアウト", "/logout", {method: :post})
