%header.header-mypage
  .bg-white
    %h1
      OWNERS
      %a{:href => "/"}
    %nav
      %ul.user-navi
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-q-b
            OWNERSについて
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-book-b
            使い方
        %li
          %a.sub-open{:href => "/about"}
            %i.thum
              / %img{:alt => "", :src => "/images/noimage-square.png?1460076999"}/
          = @user.name

        %li
          / %a{:href => "/users/#{@user.id}/edit"}
          = link_to("編集", "/users/#{@user.id}/edit")

