%header.header-mypage
  .bg-white
    %h1
      OWNERS
      %a{:href => "/"}
    %nav
      %ul.h-navi
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-q-b
          OWNERSについて
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-book-b
          使い方
        %li
          %a.sub-open{:href => "/about"}
            %i.thum
              / %img{:alt => "", :src => "/images/noimage-square.png?1460076999"}/
          = @user.name
