.mypage-content
  .news-area
    %section.news-official
      %h2 運営からのお知らせ
      .w-box
        .scroll-box
          %dl
            %dt 2017/08/20
            %dd 和歌山県から「紀州伊勢海老」プランが公開されました！
          %dl
            %dl 2017/08/20
            %dd 南信州から第2期「りんご」オーナープランが公開されました！
    %section.latest-news
      %h2 新着記事
      .w-box
        .scroll-box
          %p 記事がありません。
  %section.products-area
    %h2 契約中のプラン

  .user_orders
    - @projects.each do |project|
      %article.products
        .right-box
          %figure.photo
            %img{:alt => "", :height => "184", :s3 => "1", :src => "/project_images/#{project.image}", :ssl => "1", :width => "280"}/
        .left-box
          %h3
            %a{:href => ""}
            =project.title
          %ul.data
            %li
              数量
              %span １口
            %li{:style => "text-align: right;"}
              %a.change-address.continue2{:href => ""}
                %i.sprite-2x.icon-arrow-b-w
                送り先情報変更
          %address.shop-info
            .shop-name
              .thum
                %figure.shop
                  %img{:alt => "", :height => "30", :s3 => "1", :src => "", :ssl => "1", :width => "30"}/
              %h3 ASUKAのチーズ工房
            %h3
              .shop
            %ul
              %li
                %i.sprite-2x.icon-phone
                0145-42-5416
              %li
                %i.sprite-2x.icon-mail-b
                kitagawahana@yahoo.co,jp
