#mypage
  .mypage-left
    %section.menu
      %figure.member-photo
        %img{:src => "/images/noimage-square.png?1460076895"}/
      %h2 森 維志
      %ul.side-menu
        %li
          %a{:href => "/"}
            %i.sprite-2x.icon-arrow-b-m
            ダッシュボード
        %li
          %a{:href => "/"}
            %i.sprite-2x.icon-arrow-b-m
            送り先情報
        %li
          %a{:href => "/"}
            %i.sprite-2x.icon-arrow-b-m
            購入履歴
    .comment.w-box
      %h3 運営に意見を送る
      %form{:acrion => "/", :method => "post"}
        #feedback_div.textarea
          %textarea#feedback_message.style02.w100p{:placeholder => "ご意見・ご要望などございましたらお寄せ下さい。なお、返信を要する内容については、問い合わせフォームよりお願い致します。", :style => "font-size: 12px; height: 150px;"}
          %input#feedback_id{:name => "owner_id", :type => "hidden", :value => "2233"}/
        %input#feedback_submit.submit{:type => "buttun", :value => "送信"}/
