%head
%body
  .wrapper
    .container

      =render partial: 'share/header'


    = form_tag("/projects/#{params[:project_id]}/orders") do
      %section#cart
        %h2 オーナープランお申し込み
        .cart-content
          .cart-main
            %img{:alt => "", :src => "/images/flow01.png?1460076997"}/
            %form#OrderInputForm{"accept-charset" => "utf-8", :action => "", :method => "post"}
              %div{:style => "display: none;"}
                %input{:name => "_method", :type => "hidden", :value => "POST"}/
                %input{:name => "", :type => "hidden"}/
              %section.form-content
                %h3 お申込み内容
                %dl.application-detail
                  %dt 登録プラン
                  %dd 【第2期】溢れる果汁とりんご本来の味。信州の丘の上で育った２つの「シナノ」と「完熟サンふじ」
                  %dt 金額
                  %dd
                    ¥
                    %span.price 10,000
                    %span.unit /一口
              %section.form-content
                %h3 登録数入力
                %dl.buy-num
                  %dt
                    .input
                      %label{:for => ""}
                        %select{:id => "select_order_count", :name => "", :style => ""}
                          %option{:value => "1"} 1
                          %option{:value => "2"} 2
                          %option{:value => "3"} 3
                      口
                  %dd
                    %span.mr20 合計
                    %span ¥
                    %span#span_total 10000
                %input#including_tax_price{:name => "", :type => "hidden", :value => "10000"}/
                %input#total_data{:name => "", :type => "hidden", :value => "10000"}/

              .btn-area
                %a{:href => "", :class =>"btn-nomal", :style => "width: 130px;"} 戻る
                %input{:id => "order_submit", :class => "submit icon-arrow", :style => "width: 130px;", :type => "submit", :value =>"次に進む"}









