.hero
  %header.header
    %h1
      OWNERS
      %a{:href => "/"}
        %i.sprite-2x.logo
    %nav
      %ul.h-navi
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-q
            OWNNERSについて
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-book
            使い方
        %li
          %a{:href => "/signup"}
            %i.sprite-2x.icon-plus
            会員登録
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-login
            ログイン



    .lead
      %h2.sprite-2.message01 とっておきの、オーナーになろう
      %h2.sprite-2.message02 own your favorite, this is yours.
      %a.about-btn{:href => "#message"} Ownersついて
