.hero-single
  %header.header
    %h1
      %a{:href => "/"}
        OWNERS
        %i.sprite-2x.logo

    %nav
      %ul.h-navi
        %li
          %a{:href => "/about"}
            %i{class: "fa fa-question-circle-o"}
            OWNNERSについて
        %li
          %a{:href => "/about"}
            %i{class: "fa fa-book"}
            使い方
        - if @current_user
          %li
            %a{:href => "/users/#{@current_user.id}"}
              %i{class: "fa fa-user"}
              =@current_user.name
              さん
          %li
            %a{:href => "/projects/new"}
              %i{class: "fa fa-clipboard"}
              プロジェクト投稿
        - else
          %li.signup-show
            %i{class: "fa fa-plus-circle"}
            会員登録
          %li#login-show
            %i{class: "fa fa-user"}
            ログイン

    .lead
      %h2.sprite-2.message01
        【第2期】溢れる果汁とりんご本来の味。
        %br>/
        信州の丘の上で育った
        %br>/
        2つの「シナノ」と「完熟サンふじ」

