.hero-single
  %header.header
    %h1
      OWNERS
      %a{:href => "/"}
        %i.sprite-2x.logo
    %nav
      %ul.h-navi
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-q
            OWNNERSについて
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-book
            使い方
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-plus
            会員登録
        %li
          %a{:href => "/about"}
            %i.sprite-2x.icon-login
            ログイン



    .lead
      %h2.sprite-2.message01 【第2期】溢れる果汁とりんご本来の味。信州の丘の上で育った2つの「シナノ」と「完熟サンふじ」

