#item-bg
  .items-area
    .item-contents
      / アイテムリストはここから
    - @projects.each do |project|
      %a.item-link{:href => "/projects/#{project.id}"}
        %section.items
          .status.open
          %figure.item-image
            %img{:src => "/project_images/#{project.image}"}/
          %h2=project.title
          .info
            %p.region
              %i{class: "fa fa-map-marker"}
              =project.producing_area
            %p.shop-price
              %i{class: "fa fa-shopping-bag"}
              ¥
              =project.price
