.item-bg
  .items-area
    .content
      / アイテムリストはここから
      %a.item-link{:href => "#"}
        %section.items
          .status.open
          %figure.item-image
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/71/main_image/w340h223_20862262_1360004164097970_743720065_o.jpg"}/
          %h2 【第２期】溢れる果汁とりんご本来の味。信州の丘の上で育った２つの「シナノ」と「完熟サンふじ」
          .info
          .owner-info-hover{:style => "opacity: 1; display: none;"}
