#item-bg
  .items-area
    .item-contents
      / アイテムリストはここから
    - @projects.each do |project|
      %a.item-link{:href => "/projects/show"}
        %section.items
          .status.open
          %figure.item-image
            %img{:src => "/project_images/#{project.image}"}/
          %h2=project.title
          .info
            %p.place
              %i.sprite-2x.icon-pin
              =project.producing_area
            %p.price
              %i.sprite-2x.icon-bag
              ¥
              =project.price
