#signup-modal.signup-modal-wrapper
  .modal
    .close-modal
      %i.fa.fa-2x.fa-times
    #signup-form
      %h2 Emailで新規登録
      %form{:action => "#"}
        %input.form-control{:placeholder => "メールアドレス", :type => "text"}/
        %input.form-control{:placeholder => "パスワード", :type => "password"}/
        #submit-btn 新規登録
