#login-modal.login-modal-wrapper
  .modal
    #login-form
      %h2 Emailログイン
      %form{:action => "#"}
        %input.form-control{:placeholder => "メールアドレス", :type => "text"}/
        %input.form-control{:placeholder => "パスワード", :type => "password"}/
        #submit-btn ログイン
