#product-data
  .layout-bpx
    .left-box
      %dl.brown
        %dt
        %dd.clone 受付中
      %dl
        %dt 産地
        %dd
          %span.nomal 長野県下伊那郡豊丘村
      %dl
        %dt 募集締切
        %dd
          %span 10
          月
          %span 5
          日
    %a.btn-green{:href => "/"} お申込み
