#product-content
  %article.content
    %section
      %figure
        %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/743/content_image/w740h420_IMG_0777.JPG", :ssl => "1", :width => "740"}/
      %h3 移住したい田舎。人も植物も健やかに育つ 長野県豊丘村
      %p
        長野県豊丘村。縄文時代の土器や土偶、古墳時代の須恵器などが村内のいたるところで発見されるなど、1万年以上も前から人が住みついていたとされるこの場所。はるか昔より、地の利を生かした独自の暮らしがある村です。
        %br/
        %br/
        諏訪湖を水源とし、長野県から太平洋へと流れ出る一級河川・天竜川が形成した日本一とうたわれる河岸段丘（かがんだんきゅう）の中心にあり、信州りんご、市田柿などの果樹や、自生する赤松林が多いことから、秋の味覚「信州松茸」の産地としても有名。
        %br/
        %br/
        南信州特有の澄んだ気候に、河岸段丘がつくる階段上の地形。自然と人々の暮らしの調和が一つの景色となるような、美しい村です。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/744/content_image/w740h420_20883550_1422586217830832_590027220_o.jpg"}/
      %h3 「農家はカッコいい」開かれたりんご農園で伝えたい想い
      %p
        この豊丘村で代々果樹栽培を行ってきたのが、私たちの運営する「丘の上ファーム 原農園」です。父親の代から始まったりんご栽培を、農家という仕事をより魅力ある仕事にしていきたい。
        %br
        %br
        今の時代だからこそ常識にとらわれない農家としての生き方、経営の仕方があるのではないか、そんな思いで東京や地元長野でのサラリーマン生活を経て家業を継ぎました。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/745/content_image/w740h420_IMG_0792.JPG"}/
      %h3
      %p
        最初は意見が別れることもありましたが、今では家族一丸、そして地域の皆さんにも協力いただきながら、シーズン中は総勢15名ほどで、愛情を込めて作業にあたっています。お昼ごはんも園地のすぐとなりの大テーブルで囲んで食べたり。
        %br
        %br
        私たちの農園の特徴は、何といっても標高560mの所に園地があること。園地は、豊丘村を流れる天竜川の東側、南アルプスを背負った斜面にあり、県内でも日照量と降雨量が多い地域です。
        %br
        %br
        急斜面な上に、園地も複数に分かれているため、正直なところ作業効率としては良くありません。しかし周辺よりよりも一段上がったこの土地は水はけも抜群。一見非効率に思える場所こそが、りんごにとっては抜群の環境なのです。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/746/content_image/w740h420_IMG_0820.JPG"}/
      %h3
      %p
        また、寒暖差が激しく果物の栽培には好条件なこの場所で、心から美味しいと感じていただけるように丁寧に栽培したりんご作りを心がけています。
        %br
        %br
        こうして育ったりんごの販路は、そのほとんどが直販ルート。大規模流通には頼らず、1人1人のお客様に向き合ってきた結果、本当に有り難いことに例年事前予約でそのほとんどが終了となってしまうほど、全国の個人のお客様からご注文をいただけるようになりました。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/747/content_image/w740h420_cide_harafarm.jpg"}/
      %h3
      %p
        りんご農家としての活動は青果以外にも。
        %br
        %br
        りんごの更なる魅力を伝えたいという思いから、当園自慢のりんごを活かした「シードル」も2年前から製造をスタートしました。まだまだ歴史は浅いですが、本場フランスなどにも負けない本格的な味として、既に都内のレストランなどでもお取り扱いをいただいています。
        %br
        %br
        若者の果物離れ、りんご離れが進んでいると言われる昨今で、こうした取り組みを通して、りんごや果物の可能性を伝えて広げていきたいですね。
    %sention
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/748/content_image/w740h420_20862262_1360004164097970_743720065_o.jpg"}/
      %h3 完熟で旨みを凝縮。本当の旬にのみ摘んだ私たちのりんご
      %p
        実は、ここ豊丘村のりんごの収穫期間がそれぞれ2～3週間と非常に短く、この期間以外に市場に出回ることはありません。その理由は、南信州地域の果物の栽培方法にあります。
        %br
        %br
        南信州地域の果物は、実が木で熟す期間を長くすることで、甘さや味を最大限に引き出しています。木に実っている状態で完熟させ、甘さ・味・食味を最大限引き出した状態で収穫するため、本当の旬の時期のみにしかお客さんにお届けできないのです。
        %br
        %br
        早摘みをせず、りんごが完熟するまで樹にならせたまま、一番美味しい時を見計らって収穫するからこそ美味しい。たくさんの方に、この本物の味を味わっていただきたいです。
        %br
        %br
        %br
        %br
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/749/content_image/w740h420_sunfuji_case.jpg"}/
      %h3 丘の上ファーム原農園の「りんご」オーナープラン
      %p
        今回OWNERSでは、私たちがこだわりをもって私たちが栽培する「サンふじ」から長野県特有の品種まで、旨みの凝縮された信州生まれの「シナノスイート」「シナノゴールド」をご提供します。このシナノ2種は、長野県ならではの品種でとても人気のりんごです。
        %br
        %br
        私たちが作る信州りんごのオーナーとして、季節に応じて複数のりんごをお楽しみください！以下お届けするりんごの詳しい内容になります。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/751/content_image/w740h420_049.JPG"}/
      %h3 10月中旬~：果汁と甘みが群を抜く「シナノスイート」
      %p
        長野県のオリジナル品種の二つ目。「ふじ」と「つがる」を交配・育成・選抜した品種で、旬は10月上旬から中旬。果実の大きさは350g程度と大きく、表皮は綺麗に赤く染まり濃赤色の縦じまが入ります。
        %br
        %br
        特徴は、何と言っても果汁の多さ。更に甘さも抜群で歯ざわりも良く、とってもジューシー！糖度が14～15％ほどですが酸味が穏やかなため、柔らかい甘みが前面に感じられます。この甘みからシナノスイートと命名された、人気の品種です。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/752/content_image/w740h420_shinanogold.jpg"}/
      %h3 10月下旬~：世界も認めた甘みと酸味のバランス「シナノゴールド」
      %p
        2つ目は「シナノゴールド」。果実の大きさは300g程度と大きく、表皮は黄緑から熟すと黄色が強くなってきます。果汁が多く、糖度が14～15％程にもなりますが、酸味もしっかりあり、甘みと酸味のバランスがとても良いりんごです。
        %br
        %br
        このシナノゴールドは海外でも高い評価を得ていて、イタリア北部、アルプスの麓にある地域を皮切りに、2011年からはヨーロッパでも生産販売が始まりまっています。世界の食通を唸らせた話題の品種です。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/753/content_image/w740h420_354.JPG"}/
      %h3 11月下旬~：これぞりんごの王様。信州育ちの「完熟サンふじ」
      %p
        そして最後の３つ目は、何と言ってもりんごの王様「サンふじ」。りんごと言えば「サンふじ」というほど広く知られ、甘み酸味が抜群のバランスを持つ品種。
        %br
        %br
        信州の恵まれた気候、そして太陽をしっかり浴びて、自然の力で樹上で熟した「サンふじ」は大きさに関係なくズッシリ重く、お尻が黄色くなります。
        %br
        %br
        信州の恵まれた気候、そして太陽をしっかり浴びて、自然の力で樹上で熟した「サンふじ」は大きさに関係なくズッシリ重く、お尻が黄色くなります。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/755/content_image/w740h420_12241531_924184627617065_7414198759863799577_n.jpg"}/
      %h3
      %p
        サンふじ特徴といえるのが、蜜入りと言われる現象。これは、りんごが完熟になるまで樹にならせておくことで、ソルビトールという糖分の一種が作用し、写真のような透明な見た目が生じます。
        %br
        %br
        これを一般的に「蜜入り」と言います。
        %br
        %br
        実際、この蜜には甘味成分はありませんが、それは完熟していて甘み成分が全体に行き渡っている証拠。だからこそ美味しいりんごとして近年評価されています。
        %br
        %br
        ※蜜入りの状態は「サンふじ」品種のみに起きる現象です
        %br
        ※蜜入りの度合いはりんごにより差があります。予めご了承ください
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/756/content_image/w740h420_ringo_harafarm.jpg"}/
      %h3
      %p
        以上ご紹介した３つ、
        %br
        %br
        ・シナノスイート
        %br
        ・シナノゴールド
        %br
        以上３種類が、私たちが季節にお届けするりんご達です！季節ごとに届く、異なる美味しさ。丘の上ファーム原農園のプランでりんごの物語を感じてみませんか？
        %br
        %br
        ====== プラン内容 ====
        %br
        %br
        ▼提供商品（最低保証量）
        %br
        ①「シナノスイート」（1箱9〜11個）
        %br
        ②「シナノゴールド」（1箱9~11個）
        %br
        ③「完熟サンふじ」（1箱9個〜11個）
        %br
        %br
        ※収穫時のりんごサイズにより数量が変わります。
        %br
        %br
        ※蜜入りはサンふじのみで、状態により差が出ることがございます。
        %br
        %br
        ▼登録特典
        %br
        現地での収穫体験にご参加頂けます
        %br
        ※事前予約制、詳細は別途ご案内
        %br
        %br
        10月中旬~下旬：シナノスイート
        %br
        10月下旬~11月初旬：シナノゴールド
        %br
        11月下旬~12月初旬：完熟サンふじ
        %br
        %br
        ▼募集定員
        %br
        100人
        %br
        %br
        ▼募集期間：
        %br
        2017年8月16日〜2017年10月5日
        %br
        %br
        ▼契約期間：
        %br
        登録後から、最終商品お届けの翌月末まで
        %br
        %br
        ▼登録金額：
        %br
        10,000円（消費税・送料3回込）
        %br
        %br
        ※沖縄やその他離島へのお届けの場合、別途追加送料を頂く場合がございます。お届け先に応じて、オーナー様に個別でご連絡致します。
    %section
      %figure
        %img{:alt =>"", :height => "420", :s3 =>"1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/757/content_image/w740h420_harafamily.jpg"}/
      %h3 丘の上ファーム原農園のりんごオーナーとして、信州育ちのりんごをあなたに
      %p
        全国の皆さまからのご登録、一同心からお待ちしています！













