.top-contents
  %header
    %h1
      %a{href: "/"} Owners
    %navi
      %ul.h-navi
        %li
          %a{href: "/about"}
            %i{class: "fa fa-pencil-square-o"}
              Owenersについて
        %li
          %i{class: "fa.fa-question-circle-o"}
            %a{href: "/about"}使い方
        %li
          %i{class: "fa.fa-question-circle-o"}
            %a{href: "/about"}会員登録
        %li
          %i{class: "fa.fa-question-circle-o"}
            %a{href: "/about"}ログイン

    .lead
      %h2.sprite-2.message01 とっておきの、オーナーになろう
      %h2.sprite-2.message02 own your favorite, this is yours.
      %a.about-btn{:href => "#message"} Ownersついて
