.top-contents
  %header
    %h1
      %a{href: "/"}
        %i{class: "title"}
          Owners
    %navi
      %ul.h-navi
        %li
          %a{href: "/about"}
            %i{class: "fa fa-pencil-square-o"}
              Owenersについて
        %li
          %a{href: "/about"}
            %i{class: "fa.fa-question-circle-o"}
              使い方
        %li
          %a{href: "/about"}
            %i{class: "fa.fa-question-circle-o"}
              会員登録
        %li
          %a{href: "/about"}
            %i{class: "fa.fa-question-circle-o"}
              ログイン

    .lead
      %h2.sprite-2.message01 とっておきの、オーナーになろう
      %h2.sprite-2.message02 own your favorite, this is yours.
      %a.about-btn{:href => "#message"} Ownersついて
