=render partial: "top-contents"


.middle-contents




.bottom-contents
  %img{:src =>"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsdqVUsD6mUJtqeX9iGK9VrDEx_zpamNX9TrPSSwApQtdrSJBWhA",:width => '100%', :height => '200'}/
