.top-contents
  %header
    %h1 Owners
    %navi
      %ul.h-navi
        %li Owenersについて
        %li 使い方
        %li 森 維志さん
    .lead
      %h2.sprite-2.message01 とっておきの、オーナーになろう
      %h2.sprite-2.message02 own your favorite, this is yours.


.middle-contents




.bottom-contents
  %img{:src =>"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsdqVUsD6mUJtqeX9iGK9VrDEx_zpamNX9TrPSSwApQtdrSJBWhA",:width => '100%', :height => '200'}/
