%head
%body
  .wrapper
    .container

=render partial: "hero"

=render partial: "modal-login"

=render partial: "modal-signup"

=render partial: "message"

=render partial: "item-bg"

=render partial: "share/footer"


