#login-inner
  %section.form-login01
    %h1 登録
    = form_tag("/projects/create", {multipart: true}) do
      .input
        .input.text
          %input#last-name.jq-placeholder.style01.w300{:name => "title", :value => "", :placeholder => "タイトル", :style => "color: silver;", :type => "text"}/
      .input
        .input.text
          %input#last-name.jq-placeholder.style01.w300{:name => "producing_area", :value => "", :placeholder => "生産地", :style => "color: silver;", :type => "text"}/
      .input
        .input.text
          %input#last-name.jq-placeholder.style01.w300{:name => "price", :value => "", :placeholder => "価格", :style => "color: silver;", :type => "integer"}/
      .p-right
        %div{"upload-button" => ""}
          .upload-button.project-image
            %i.sprite-2x.icon-upload
              ファイルを選択
            .input.file
              %input#OwnerProfileImage{:name => "image", :type => "file"}/
            %input#uv.upload-value{:name => "image", :type => "file"}/

      %input#signup_submit.submit.w300.green{:name => "", :type => "submit", :value => "登録"}/
