%head
%body
  .wrapper
    .container

=render partial: 'hero-single'

=render partial: 'product-data'

=render partial: 'product-content'

=render partial: 'product-map'

=render partial: 'share/footer'
