.top-contents {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2G3C1T2di0rwvXIU6hGwF30rgahZ-SCMDoF5CzCyN9onG-rAJDQ);

}

.middle-contents {
  background-color: white;
  height: calc(100vh - 30vh);
  width: 100%;
  overflow-y: scroll;
}

.bottom-contents {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsdqVUsD6mUJtqeX9iGK9VrDEx_zpamNX9TrPSSwApQtdrSJBWhA);
  height: 200px;
  width: 100%;
}
