.mypage-content {
  width: 820px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 100px;
  float: right;
}

.news-official {
  width: 340px;
  float: left;
}

.news-area h2 {
  font-size: 1rem;
  font-weight: bold;
  height: 29px;
}

.w-box {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  height: 240px;
  padding: 0;
  margin-bottom: 30px;
}

.scroll-box {
  width: 340px;
  height: 230px;
  overflow: scroll;

  p {
    margin: 10px 10px 10px 20px;
  }
}

.news-official dl:first-child {
  border-top: none;
}

.news-official dl {
  border-top: 1px dotted #d2cec7;
  padding: 10px 0 10px 10px;
}

.latest-news {
  width: 440px;
  float: right;
}

.products-area {
  padding-top: 40px;
  clear: both;

  h2 {
    font-size: 1rem;
    font-weight: bold;
    height: 29px;
  }
}

.products {
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
  min-height: 230px;
  padding: 20px;
  box-sizing: border-box;
}
