.form-login01 {
  text-align: center;
  padding-top: 80px;
  overflow: visible;
}

#login-inner h1 {
  font-size: 1.315rem;
  color: #fff;
  background-color: #427833;
  display: inline-block;
  padding: 10px 40px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.w300 {
  width: 300px;
}

.style01 {
  border: 2px solid #cfd6ce;
  border-radius: 5px;
  padding: 10px;
  line-height: 2;
  background: #ebf1ea;
  box-sizing: border-box;
  margin: 20px 0 10px;
}
